

.container 
{
  position: relative;
}

.center 
{
  position: absolute;
  left: 0;
  top: 0%;
  width: 100%;
}


img
{
	width: 100%;
	height: auto;
}

h1
{
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  color:white;
  margin-top:100px;
}
div.coloana{
	float:left;
	width:40%;
	box-sizing:border-box;
	line-height:2;
	padding-left:5%;
	font-family:verdana;
	margin-top:40px;
}

#c1
{
		background:rgb(180, 180, 180, 0.3);
		margin-left:5%;
		border-radius:10%;
}

#cont:after {
	content: " "; 
	clear: both; 
	display: block;
	visibility: hidden;
	font-size: 0;
	height: 0;
}