

.container 
{
  position: relative;
}

.center 
{
  position: absolute;
  left: 0;
  top: 0%;
  width: 100%;
}


img
{
	width: 100%;
	height: auto;
}

h1
{
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  color:white;
  margin-top:100px;
}
div.coloana{
	float:left;
	width:50%;
	box-sizing:border-box;
	padding-left:10%;
	padding-right:10%;
	line-height:2;
	font-family:verdana;
	margin-top:40px;
}

#cont:after {
	content: " "; 
	clear: both; 
	display: block;
	visibility: hidden;
	font-size: 0;
	height: 0;
}