nav{
		width:100%;
		position:fixed;
	}

	ul.menu>li, ul.menu>li>ul.submenu>li{
		display:block;
		
		font-size:1.2rem;
		font-weight:bold;
		height:2rem;
		line-height:2rem;
		text-align:center;		
		list-style-type:none;
		overflow:hidden;
	}
	ul.menu>li{
	 float:left;
	 width:25%;
	}
	ul.submenu>li{
	 width:100%;
	}
	ul.menu>li>a,ul.menu>li>div,ul.submenu>li>a{
		display:block;
		height:	100%;
		text-decoration:none;
		color:tan;
	}
	ul.menu>li:nth-of-type(even) a, ul.menu>li:nth-of-type(even) div{
		background:bisque;
	}
	ul.menu>li:nth-of-type(odd) a, ul.menu>li:nth-of-type(odd) div{
		background:peachpuff;
	}

	ul.menu>li>ul.submenu{
		position:relative;
		top:0px;
	}

	ul.menu>li>ul.submenu>li
	{
		border-top:1px solid brown;
	}
	ul.menu>li>ul.submenu>li:last-child
	{
		border-bottom:1px solid brown;
	}

	ul.menu>li>a:hover, ul.submenu>li>a:hover{
		background:linen;
	}
	ul.menu>li:hover{
		overflow:visible;
	}